{% if request.user.is_authenticated is True %}
<li class="nav-item"><a class="nav-link" href="/upload-monitor" id="primary-menu-item-upload-monitor">Upload &amp; Monitor</a></li>
<li class="nav-item"><a class="nav-link" href="/files-dashboard" id="primary-menu-item-processed-data">Processed Data</a></li>
<li class="nav-item"><a class="nav-link" href="/uploads-history" id="primary-menu-item-archives">Archives</a></li>

{% else %}
    <li class="nav-item"><a class="nav-link" href="#" id="primary-menu-item-upload-monitor">Upload &amp; Monitor</a></li>
{% endif %}