{% extends 'govapp/base.html' %} 

{% block content %}
{% if request.user.is_authenticated is True and has_permission is True %}

<div class="container" id="droppable-area">
    <input type="hidden" id="route_path" name="route_path" value="{{ route_path }}"/>
    <div class="tip_dashboard my-1">

        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3 bg-info text-white">
                <h4 class="my-0 fw-bold"><i class="bi bi-folder-open"></i> Processed Data</h4>
            </div>
            <div class="card-body">
                <p class="text-muted mb-3">
                    <i class="bi bi-info-circle"></i> 
                    Browse and download processed thermal imaging data. These files are the result of completed processing jobs and are stored in the thermal_data_processing folder.
                </p>
                <nav aria-label="breadcrumb">
                    <ol id="breadcrumb" class="breadcrumb">
                    </ol>
                </nav>
                <div class="alert alert-info alert-dismissible fade show" role="alert" id="progress-container" style="display: none;" >
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Download in progress
                               <div class="spinner-border spinner-border-sm text-secondary ms-2" role="status" ></div>
                            </h6>
                            <span id="filename">
                            </span>
                        </div>
                        <div class="col-md-8">
                            <div id="progress-bar" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 5%">5%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tip_dashboard">
                    <table id="example" class="table" style="width:100%">
                        <tbody id='publish-tbody'>
                        <tr>
                              <td colspan="8" class='text-center'>Loading...</td>
                        </tr>
                        </tbody>
                    </table>  
                </div>
              
            
            </div>
        </div>
    </div>
    <script>
        tip_dashboard.init()
    </script>
</div>
{% else %}
    <div class="container">
        <div class="alert alert-danger" role="alert" >
            <p>Permission Denied.</p>
        </div>
    </div>
{% endif %}
{% endblock %}
